body {
    font-family: 'Varela Round', sans-serif;
}
.hidden {
    display: none;
}
.navbar{
    background-color: #8caba8;
    margin-bottom: 1rem;
}
.navbar-brand {
    margin: auto;
    font-size: 2rem;
}

.rounded {
    padding: 1rem;
    line-height: 2rem;
}
.searchBorder{
    background-color: #dfdfde;
    padding: 1rem;
}
.MYms-1 {
    margin-left: 1rem
  }
.FiveDayCard{
    margin:auto;
    padding: 0.5rem;
} 
.border{
    border: 2px solid #a2798f!important;
}
.MyBorder {
    background-color: #eee6e6;
}
.icon {
    max-width: 35px;
}

.low {
    background-color: #31dd65;
}
.moderate {
    background-color: #e2d812;
}
.high {
    background-color: #e88211;
}
.veryhigh {
    background-color: #e22812;
}
.extreme {
    background-color: #5c12e2;
}
.iconDate {
    font-weight: 900;
}